.items{  
    display: grid;
    gap: 10px 10px;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
}
.item1{
    background-color: red;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 10px;
}